body {
    font-family: 'Helvetica', sans-serif;
    color: whitesmoke;
    background: rgb(18, 20, 20);

}
.center-full {
    margin: auto;
    width: 95%;
    padding: 10px;
}
a {
    text-decoration: none;
}

img.logo-new {
    height: 125px;
    width: 125px;
    margin: 10px;
    border: solid 4px transparent;
}

img:hover {
    border-color: springgreen;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
